body {
  background-color: rgb(242, 240, 235);
  font-family: Gill Sans, sans-serif;
}
h1 {
  font-family: Snell Roundhand, cursive;
  text-align: center;
  font-size: 40px;
  color: rgb(35, 32, 32);
  padding: 20px 0px;
}
a {
  color: rgb(35, 32, 32);
}
img {
  max-width: 400px;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
}
.box {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}
.links {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
}

.active {
  font-weight: 600;
  text-decoration: none;
}
